<div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <h1>User Dashboard</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <!--render grocery list data-->
                {{#each lists}}
                <div class="card my-4">
                    <div class="card-header">
                        {{dataValues.name}}
                    </div>
                    <div class="card-body">
                        {{dataValues.items}}
                        <button class="btn btn-primary float-right" type="submit" id="edit-list" data-listID="{{dataValues.id}}">Edit</button>
                    </div>
                    <div class="card-body">
                        {{dataValues.items}}
                        <button class="btn btn-primary float-right" type="submit" id="delete-list" data-listID="{{dataValues.id}}">Delete</button>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    

    </div>